* {
    margin: 0;
    padding: 0;
}
.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 20px;
     
}

.row__posters::-webkit-scrollbar {
    display: none;
}
 
.row_posterLarge {
    max-height: 250px;
}
.row_posterLarge:hover {
    transform: scale(1.09);
}

.row__poster {
  object-fit: contain;
  width: 600px;
  height: 400px;
  max-height: 20%;
  margin-right: 10px;
  transition: transform 450ms;
  margin-bottom: 0;
  padding-bottom: 0;
}

.row__poster:hover {
    transform: scale(1.08);
}